# ---- Node ----
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ---- Next.js ----
.next/
out/
build/
next-env.d.ts

# ---- Env ----
.env
.env.local
.env.*.local

# ---- Misc ----
.DS_Store
Thumbs.db
*.log
coverage/
.vercel
*.tsbuildinfo
.idea/
*.swp
